@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(121, 68, 171);
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.main_container {
  display: flex;
  width: 90vw;
}
.cards {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  border-radius: 20px;
  color: #f90000;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  position: relative;
  transition: flex 0.4s ease-in-out;
}
.cards h3 {
  display: block;
  background-color: rgb(0, 38, 72);
  border-radius: 10px;

  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  opacity: 0;
}
.cards.active {
  flex: 4;
}
.cards.active h3 {
  opacity: 1;
  transition: opacity 0.4s ease-in 0.3s;
}

@media (max-width: 480px) {
  .main_container {
    width: 100vw;
  }
  .cards:nth-of-type(4),
  .cards:nth-of-type(5) {
    display: none;
  }
}
